includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - bootstrap
        - database
        - lang
        - routes
        - tests
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
